<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Earth Quake Detection System </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
</head>
<body>
    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash-message {{ 'flash-message-' + category }}">
                    <ul>
                        <li>{{ message }}</li>
                    </ul>
                    <span class="close-btn" onclick="this.parentElement.style.display='none';">&times;</span>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block content %}
    <!-- Page-specific content will go here -->
    {% endblock %}
    <script>
        // Automatically hide flash messages after 5 seconds
        window.addEventListener('DOMContentLoaded', (event) => {
            const flashMessages = document.querySelectorAll('.flash-message');
            flashMessages.forEach(message => {
                setTimeout(() => {
                    message.style.display = 'none';
                }, 5000); // 5000 ms = 5 seconds
            });
        });
    </script>

</body>

</html>
